.clock {
    display: inline-block;
}

svg {
    fill: black;
    stroke: black;
    stroke-width: 2;
}

.clockFace {
    fill: white;
}

.secondsHand {
    stroke: red;
    stroke-width: 1;
}

.hoursHand {
    stroke-width: 3;
}

.location {
    text-align: center;
}

.minuteMark {
    stroke-width: 1;
}